* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0 5%;
}

/* ul, ol { */
/* list-style: none; */
/* list-style-type: none; */
/* }  */

.debug,
.debug * {
  border: 1px dashed red;
  /* padding: 6px;
  min-height: 30px; */
}

body {
  margin: 0 auto;
}
