.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Inter", sans-serif;
  color: white;
}

.app-footer {
  min-height: 80px;
  background-color: #2d2d35;
  margin-top: auto;
}

.app-main {
  height: calc(100vh - 80px);
  display: flex;
}

.app-sidebar {
  background-color: #141318;
  width: 70px;
}

.app-screen {
  background-color: #1c1d22;
  /* width: calc(100% - 70px); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-header {
  min-height: 100px;
}

.app-content {
  /* height: calc(100% - 100px); */
  flex-grow: 1;
}
