.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Inter", sans-serif;
  color: white;
}

.app-footer {
  min-height: 70px;
  background-color: #2d2d35;
  margin-top: auto;
  border-right: 1px solid #141318;
}

.app-main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #141318;
}

.app-sidebar {
  width: 70px;
}

.app-screen {
  background-color: #1c1d22;
  /* width: calc(100% - 70px); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #141318;
  border-right: 1px solid #141318;
  border-top: 5px solid #141318;
  border-radius: 30px 0 0 0;
}

.app-header {
  min-height: 100px;
}

.app-content {
  /* height: calc(100% - 100px); */
  flex-grow: 1;
}

.nav-bar {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-item {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar-item:hover * {
  color: burlywood;
}

.nav-bar-icon {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.nav-bar-desc {
  font-size: 0.7rem;
}

.profile-img {
  width: 100%;
  height: 100%;
  border: 1px solid #2d2d35;
  border-radius: 50%;
}
