.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Inter", sans-serif;
  color: white;
}

.app-footer {
  min-height: 70px;
  background-color: #2d2d35;
  margin-top: auto;
  border-right: 1px solid #141318;
}

.app-main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #141318;
}

.app-sidebar {
  width: 70px;
  margin-top: 10px;
  display: block;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
}

.sidebar-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.server-active::before,
.sidebar-item:hover::before {
  content: "";
  background-color: white;
  width: 8px;
  height: 45px;
  border-radius: 50rem;
  position: absolute;
  bottom: 0;
  left: -14px;
}

.server-active * {
  border-radius: 25%;
}

.sidebar-item:hover * {
  border-radius: 25%;
  transform: scale(1.02);
}

.app-screen {
  background-color: #1c1d22;
  /* width: calc(100% - 70px); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #141318;
  border-right: 1px solid #141318;
  border-top: 5px solid #141318;
  border-radius: 30px 0 0 0;

  padding: 20px 5px 0 5px;
}

.app-header {
  min-height: 70px;
  padding: 0 10px;
}

.header-title {
  font-size: 1.5rem;
}

.header-tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.header-btn {
  background-color: #373a43;
  color: white;
  padding: 5px;
  font-size: 0.9rem;
}

/* .header-btn:hover {
  box-shadow: 2px 2px 10px 1px burlywood;
} */

.header-btn:first-child {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.header-btn:last-child {
  flex-grow: 1;
  margin-left: 20px;
  max-width: 400px;
  border-radius: 50rem;
}

.bi-person-fill-add {
  margin-right: 3px;
}

.app-content {
  /* height: calc(100% - 100px); */
  flex-grow: 1;
}

.chat-item {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px 0 6px;
}

.chat-icon {
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
}

.chat-icon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f94349;
  bottom: -5px;
  right: -5px;
  border: 5px solid #1c1d22;
}

.chat-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  padding-left: 8px;
  opacity: 0.4;
}

.chat-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.chat-contact {
  font-size: 1rem;
  font-weight: 500;
}

.chat-time,
.chat-msg {
  font-size: 0.8rem;
}

.nav-bar {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*  margin: 0 5%; */
  flex: 1 1 0;
}

.header-btn:hover,
.nav-bar-item:hover {
  color: burlywood;
  font-weight: bold;
}

.nav-bar-item:hover .profile-img {
  transform: scale(1.2);
  border: 1px solid burlywood;
}

.nav-bar-icon {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.nav-bar-desc {
  font-size: 0.7rem;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-img:active,
.nav-bar-icon:active .profile-img {
  transform: translate(0, -200%) scale(5);
  border: none;
  transition: 2s;
}
