.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Source Sans 3", sans-serif;
  color: white;
}

.app-footer {
  min-height: 70px;
  background-color: #2d2d35;
  margin-top: auto;
  border-right: 1px solid #141318;
  position: relative;
}

.app-main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #141318;
}

.app-sidebar {
  width: 70px;
  margin-top: 10px;
  display: block;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
}

.sidebar-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.server-active::before,
.sidebar-item:hover::before {
  content: "";
  background-color: white;
  width: 8px;
  height: 45px;
  border-radius: 50rem;
  position: absolute;
  bottom: 0;
  left: -14px;
}

.server-active * {
  border-radius: 25%;
}

.sidebar-item:hover * {
  border-radius: 25%;
  transform: scale(1.02);
}

.app-screen {
  background-color: #1c1d22;
  /* width: calc(100% - 70px); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #141318;
  border-right: 1px solid #141318;
  border-top: 5px solid #141318;
  border-radius: 30px 0 0 0;

  padding: 20px 5px 0 5px;
}

.app-header {
  min-height: 70px;
  padding: 0 20px;
}

.header-title {
  font-size: 1.5rem;
}

.header-tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  font-family: "Inter", sans-serif;
}

.header-btn {
  background-color: #373a43;
  color: white;
  padding: 5px;
  font-size: 0.9rem;
}

.header-btn:first-child {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.header-btn:last-child {
  flex-grow: 1;
  margin-left: 20px;
  max-width: 400px;
  border-radius: 50rem;
}

.bi-person-fill-add {
  margin-right: 3px;
}

.app-content {
  /* height: calc(100% - 100px); */
  flex-grow: 1;
  overflow: auto;
}

.chat-item {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 16px;
  border-radius: 20px;
}

.chat-item:hover,
.chat-item:hover .chat-content,
.highlighted-chat,
.highlighted-chat .chat-content {
  background-color: #26262e;
  opacity: 1;
}

.chat-item:hover .chat-icon::after,
.highlighted-chat .chat-icon::after {
  border-color: #26262e;
}

.chat-status-offline::after {
  background-color: #f94349;
}

.chat-status-busy::after {
  background-color: #f4a71b;
}

.chat-status-online::after {
  background-color: #39a65d;
}

.chat-icon {
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
}

.chat-icon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -5px;
  right: -5px;
  border: 5px solid #1c1d22;
}

.chat-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  padding-left: 8px;
  opacity: 0.4;
}

.chat-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.chat-contact {
  font-size: 1rem;
  font-weight: 500;
}

.chat-time,
.chat-msg {
  font-size: 0.8rem;
}

.chat-icon:active .profile-img {
  transform: translate(600%, 0) scale(2);
  transition: 2s;
}

.hidden-chat {
  display: none;
}

.new-chat-btn {
  position: absolute;
  top: -8px;
  right: 10px;
  font-size: 2.5rem;
  background: none;
  color: #5865f2;
  translate: -50% -50%;
}

.new-chat-btn:hover {
  transform: scale(1.3);
  transition: 1s;
}

.all-chat-btn {
  position: absolute;
  left: 5px;
  bottom: 90px;
  background-color: #373a43;
  border-radius: 50rem;
  color: white;
  font-size: 0.6rem;
  width: 60px;
  padding: 5px;
  font-family: "Source Sans 3", sans-serif;
}

.all-chat-btn:active ~ .chat-list > .hidden-chat {
  display: block;
}
.all-chat-btn:active {
  display: none;
}

.nav-bar {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
}

.header-btn:hover,
.nav-bar-item:hover,
.all-chat-btn:hover {
  color: burlywood;
  font-weight: bold;
}

.nav-bar-item:hover .profile-img {
  transform: scale(1.2);
  border: 1px solid burlywood;
}

.nav-bar-icon {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.nav-bar-desc {
  font-size: 0.7rem;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav-bar-icon:active .profile-img {
  transform: translate(-130%, -200%) scale(3);
  border: none;
  transition: 2s;
}
